body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    height: 60vh;
}

::-webkit-scrollbar {
    display: none;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    margin: 25vh 0 0 0;
    padding: 0;
    font-family: 'Comfortaa', 'Roboto', sans-serif;
}

header button {
    text-align: center;
}

#downloadButtonWrapper {
    margin: 3em 0 0 0;
    text-align: center;
}

header #subtext {
    margin: .75em 0 0 0;
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

header button p {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

header button {
    border: solid 1px #272626;
    background-color: transparent;
    height: 5.5em;
    width: 32em;
    color: #272626;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

header button:hover {
    color: #ffffff;
    background-color: #313131;
}

#started {
    background-color: #229ce2;
    height: 95vh;
}

#started h1 {
    font-family: 'Indie Flower', monospace;
    color: #ffffff;
    font-size: 6rem;
    text-align: center;
    margin: 4vh 0 0 0;
}

footer {
    height: 5vh;
    background-color: #ffffff;
}

footer h2 {
    font-family: "Comfortaa", sans-serif;
}

#videos {
    text-align: center;
}

#video1 {
    margin: 0 1em 0 0;
}

#started a {
    text-align: center;
}

#youtubelink {
    text-align: center;
    margin: 5vh 0 0 0;
}

#youtubelink button {
    width: 30vw;
    height: auto;
    color: #ffffff;
    background-color: #1094e0;
    border: none;
}

#youtubelink button:hover {
    cursor: pointer;
}

#youtubelink button p {
    font-size: 1.5rem;
}

.video {
    margin: 7vh 0 0 0;
    display: inline-block;
    background-color: #cccccc;
    height: 315px;
    width: 560px;
}

@media only screen and (max-width: 1139px) {
    #started {
        height: 140vh;
    }
}

@media only screen and (max-width: 1024px) {
    #started {
        height: 100vh;
    }
}

@media only screen and (max-width: 487px) {
    header h1 {
        margin-top: 6vh;
        font-size: 3rem;
    }
    
    header #subtext {
        font-size: 1.2em;
    }

    header {
        height: 50vh;
    }

    #started h1 {
        font-size: 4rem;
    }

    #started {
        height: 120vh;
    }
}

@media only screen and (max-width: 414px) {
    #started {
        height: 130vh;
    }

    #started button {
        width: 75vw;
    }
}

@media only screen and (max-width: 411px) {
    #started button {
        width: 75vw;
    }
}

@media only screen and (max-width: 375px) {
    header h1 {
        margin-top: 3em;
        font-size: 2.5rem;
    }

    header #subtext {
        font-size: 1.25rem;
    }

    header button {
        width: 75vw;
        height: 10vh;
    }

    header {
        height: 58vh;
    }

    #started h1 {
        font-size: 3rem;
    }

    #started {
        height: 140vh;
    }

    #started button {
        width: 75vw;
    }
}

@media only screen and (max-width: 320px) {
    #started {
        height: 155vh;
    }
}