body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header {
    height: 90vh;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

header h1 {
    color: #eef0e8;
    font-size: 4rem;
    text-align: center;
    margin: 0 0 0 0;
    padding: 25vh 0 0 0;
    font-family: 'Comfortaa', 'Roboto', sans-serif;
}

header button {
    text-align: center;
}

#downloadButtonWrapper {
    margin: 3em 0 0 0;
    text-align: center;
}

header #subtext {
    color: #eef0e8;
    margin: .75em 0 0 0;
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

header button p {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}

header button {
    border: solid 1px #eef0e8;
    background-color: transparent;
    height: 5.5em;
    width: 32em;
    color: #eef0e8;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
}

header button:hover {
    color: #313131;
    border: solid 1px #ffffff8e;
    background-color: #ffffff8e;
}

#started {
    background-color: #ACB7A8;
    height: 115vh;
}

#started h1 {
    font-family: 'Indie Flower', monospace;
    color: #EEF0E8;
    font-size: 6rem;
    text-align: center;
    margin: 0;
}

footer {
    height: 5vh;
    background-color: #ffffff;
}

footer h2 {
    font-family: "Comfortaa", sans-serif;
}

#videos {
    text-align: center;
}

#video1 {
    margin: 0 1em 0 0;
}

#started a {
    text-align: center;
}

#youtubelink {
    text-align: center;
    margin: 5vh 0 0 0;
}

#youtubelink button {
    width: 30vw;
    height: auto;
    color: #ffffff;
    background-color: #D4D9D2;
    border: none;
}

#youtubelink button:hover {
    cursor: pointer;
}

#youtubelink button p {
    font-size: 1.5rem;
}

.video {
    margin: 7vh 0 0 0;
    display: inline-block;
    background-color: #cccccc;
    height: 315px;
    width: 560px;
}

@media only screen and (max-width: 1024px) {
    #started {
        height: 200vh;
    }
}

@media only screen and (max-width: 768px) {
    #started {
        height: 200vh;
    }
}

@media only screen and (max-width: 425px) {
    header h1 {
        font-size: 3rem;
        margin: 2em 0 0 0;
    }

    header #subtext {
        font-size: 1.5rem;
        margin-top: 2em;
    }

    header button {
        margin: 2em 0 0 0;
    }

    #started h1 {
        font-size: 3rem;
    }

    #started button {
        width: 75vw;
        height: auto;
    }

    @media only screen and (max-width: 320px) {
        header h1 {
            font-size: 2rem;
        }

        header #subtext {
            font-size: 1rem;
        }

        header button {
            width: 80vw;
            height: 10vh;
        }
    }
}