@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    overflow-x: hidden;
    margin: 0;
}

button:focus {
    outline: none;
}

.hoverable:hover {
    cursor: pointer;
}

.logo-full-sml {
    width: 300px;
    height: auto;
}

#nav {
    background-color: #cccccc30;
    height: 4em;
}

#nav p {
    display: inline-block;
    margin: 0;
    padding: 1.625vw 2vw 0 2vw;
    font-family: 'Montserrat', 'Lato', sans-serif, serif;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

#nav p:hover {
    color: #00000071;
}

#nav img {
    position: absolute;
    padding: 1vw 0 0 2.75vw;
}